:root {
  --scrollbar-thumb: #808080;
  --scrollbar-track: #000000;
  --navbar: #000000;
  --navbar-logo-background-color: #000000;
  --navbar-logo-background-image: linear-gradient(to top, #000000 0%, #ffffff 100%);
  --navbar-links: #ffffff;
  --navbar-links-hover: #808080;
  --navbar-menu: #808080;
  --navbar-menu-active: #000000;
  --navbar-toggle-bar: #ffffff;
  --h1-background-color: #000000;
  --h1-background-image: linear-gradient(to top, #000000 0%, #ffffff 100%);
  --h2-color: #ffffff;
  --h3-color: #808080;
  --p-color: #ffffff;
  --main-btn-background-image: linear-gradient(to top, #000000 0%, #ffffff 100%);
  --main-btn-color: #ffffff;
  --main-btn-after: #ffffff;
  --main-btn-hover: #000000;
  --html-body: #000000;
  --a: #808080;
  --audio-webkit-media-controls-panel: #000000;
  --media-item: #808080;
  --audio-item: #808080;
  --audio-text: #ffffff;
  --image-item: #808080;
  --image-text: #ffffff;
  --video-item: #808080;
  --video-text: #ffffff;
  --mode-toggle: #ffffff;
  --mode-toggle-hover: #808080;
  --background: #000000;
}

body.dark-mode {
  --scrollbar-thumb: #808080;
  --scrollbar-track: #000000;
  --navbar: #000000;
  --navbar-logo-background-color: #000000;
  --navbar-logo-background-image: linear-gradient(to top, #000000 0%, #ffffff 100%);
  --navbar-links: #ffffff;
  --navbar-links-hover: #808080;
  --navbar-menu: #808080;
  --navbar-menu-active: #000000;
  --navbar-toggle-bar: #ffffff;
  --h1-background-color: #000000;
  --h1-background-image: linear-gradient(to top, #000000 0%, #ffffff 100%);
  --h2-color: #ffffff;
  --h3-color: #808080;
  --p-color: #ffffff;
  --main-btn-background-image: linear-gradient(to top, #000000 0%, #ffffff 100%);
  --main-btn-color: #ffffff;
  --main-btn-after: #ffffff;
  --main-btn-hover: #000000;
  --html-body: #000000;
  --a: #808080;
  --audio-webkit-media-controls-panel: #000000;
  --media-item: #808080;
  --audio-item: #808080;
  --audio-text: #ffffff;
  --image-item: #808080;
  --image-text: #ffffff;
  --video-item: #808080;
  --video-text: #ffffff;
  --mode-toggle: #ffffff;
  --mode-toggle-hover: #808080;
  --background: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  scrollbar-width: thin;
}

.navbar {
  background: var(--navbar);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-color: var(--navbar-logo-background-color);
  background-image: var(--navbar-logo-background-image);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  user-select: none;
  order: 0;
  transform: translateY(-0.1em); /* for segoe ui */
  transition: all 0.3s ease;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  order: 2;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: var(--navbar-links);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  user-select: none;
}

.navbar__links:hover {
  color: var(--navbar-links-hover);
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.6s ease;
    height: 50vh;
    z-index: -1;
    background: var(--navbar-menu);
  }

  .navbar__menu.active {
    background: var(--navbar-menu-active);
    top: 100%;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
    transform: none !important;
  }

  .navbar__toggle .bar {
    width: 1.6rem;
    height: 0.16rem;
    margin: 0.32rem auto;
    transition: all 0.3s ease-in-out;
    background: var(--navbar-toggle-bar);
    display: block;
    cursor: pointer;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(calc(-50% + 0.3em));
    transition: all 0.3s ease;
    order: 2;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  /* (16 - 12.5) / 8 + 12.5 = 12.9375 - theoretical perfect center */

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(12.9375px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-12.9375px) rotate(-45deg);
  }
}

.main__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: transparent;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
  opacity: 0;
  transform: translateY(9px);
  transition: opacity 0.3s cubic-bezier(0, 0.5, 0.5, 1), transform 0.3s cubic-bezier(0, 0.5, 0.5, 1);
}

.main__content h1 {
  font-size: 4rem;
  background-color: var(--h1-background-color);
  background-image: var(--h1-background-image);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 2rem;
  user-select: none;
}

.main__content h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--h2-color);
  user-select: none;
}

.main__content h3 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: var(--h3-color);
  user-select: none;
}

.main__content p {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
  color: var(--p-color);
  user-select: none;
}

.main__btn {
  font-size: 1.2rem;
  background-image: var(--main-btn-background-image);
  padding: 14px 32px;
  border: none;
  border-radius: 8px;
  color: var(--main-btn-color);
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
  font-weight: 700;
  z-index: 0;
  text-decoration: none;
  user-select: none;
  overflow: hidden;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-btn-after);
  transition: all 0.3s;
  border-radius: 8px;
  z-index: -1;
}

.main__btn:hover {
  color: var(--main-btn-hover);
}

.main__btn:hover:after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 3.6rem;
  }

  .main__content h1 {
    font-size: 3.6rem;
    margin-bottom: 1.8rem;
  }

  .main__content h2 {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
  }

  .main__content h3 {
    font-size: 1.44rem;
    margin-bottom: 1.8rem;
  }

  .main__content p {
    font-size: 1.08rem;
    margin-bottom: 1.08rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
  }

  .main__content h2 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .main__content h3 {
    font-size: 1.28rem;
    margin-bottom: 1.6rem;
  }

  .main__content p {
    font-size: 0.96rem;
    margin-bottom: 0.96rem;
  }

  .main__btn {
    padding: 12px 36px;
  }
}

html, body {
  background-color: var(--html-body);
  height: 100%;
  overflow-x: hidden;
}

body.loaded .main__container {
  opacity: 1;
  transform: none;
}

a {
  color: var(--a);
  text-decoration: underline;
  user-select: none;
}

audio::-webkit-media-controls-panel {
  background-color: var(--audio-webkit-media-controls-panel);
}

/* lmao. */

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-play-button:hover,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-mute-button:hover,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-mute-button:hover,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-volume-slider:hover {
  filter: grayscale(100%) invert() contrast(1000%);
}

/**/

.media-item {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%;
  transform-origin: center center;
  transition: transform 0.3s ease;
  max-width: 100vw;
  border: 4px solid var(--media-item);
  border-radius: 4px;
  overflow: hidden;
  padding: 1.2rem;
}

.audio-item {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  max-width: 325px;
  text-align: center;
  border: 2px solid var(--audio-item);
  border-radius: 8px;
  overflow: hidden;
  margin: 2rem auto;
}

/*i love you default audio player */

.audio-item audio {
  width: 101.25%;
  max-width: 329.0625px;
}

.audio-item .main__btn {
  margin-top: 1.2rem;
}

.audio-cover {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  user-select: none;
}

.audio-text {
  color: var(--audio-text);
  font-size: 1.2rem;
  margin-top: 1.2rem;
  user-select: none;
}

.multiple {
  margin-top: 1.2rem;
}

.media-left,
.media-right {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;
}

.image-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 90vh;
  border: 2px solid var(--image-item);
  border-radius: 8px;
  overflow: hidden;
  margin: 2rem auto;
  padding: 1.2rem;
}

.image-item .media-left img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 8px;
  user-select: none;
}

.image-text {
  color: var(--image-text);
  font-size: 1.2rem;
  margin-top: 2.4rem;
  user-select: none;
}

.only {
  margin-top: 1.2rem;
}

.video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  border: 2px solid var(--video-item);
  border-radius: 8px;
  overflow: hidden;
  background: transparent;
  margin: 2rem auto;
  padding: 1.2rem;
}

.video-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  flex-wrap: nowrap;
  overflow: hidden;
}

.video-cover,
.video-player {
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 8px;
  min-width: 0;
  max-width: 100%;
  user-select: none;
}

.video-cover {
  flex: 1;
}

.video-player {
  flex: 3;
}

.video-text {
  color: var(--video-text);
  font-size: 1.2rem;
  margin-top: 1.2rem;
  user-select: none;
}

@media screen and (max-width: 960px) {
  .navbar__menu {
    height: auto !important;
  }

  .navbar__menu.active {
    height: auto !important;
  }

  .navbar__links {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 80px !important;
    padding: 0 1rem !important;
  }
}

@media screen and (max-width: 768px) {
  .media-item {
    flex-direction: column;
  }

  .image-item .media-left img,
  .video-cover,
  .video-player {
    max-height: 50vh;
  }

  .video-cover,
  .video-player {
    margin: 0 auto;
  }

  .image-text {
    margin-top: 1.2rem;
  }

  .only {
    margin-top: 0.6rem;
  }

  .video-text {
    margin-top: 3.6rem;
  }
}

@media screen and (max-width: 480px) {
  .media-item {
    flex-direction: column;
  }

  .image-item .media-left img,
  .video-cover,
  .video-player {
    max-height: 25vh;
  }
}

.audio-cover.clickable {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.audio-cover.clickable:hover {
  transform: scale(1.025);
}

.audio-text.clickable {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.audio-text.clickable:hover {
  transform: scale(1.025);
}

body.embed-page .audio-cover.clickable,
body.embed-page .audio-text.clickable {
  cursor: default !important;
}

body.embed-page .audio-item {
  position: relative;
  overflow: visible !important;
}

@keyframes tiltLoop {
  0% {transform: scale(1) rotate(0deg);}
  25% {transform: scale(1.025) rotate(1.25deg);}
  50% {transform: scale(1) rotate(0deg);}
  75% {transform: scale(1.025) rotate(-1.25deg);}
  100% {transform: scale(1) rotate(0deg);}
}

.hover-tilt {
  animation: tiltLoop 4.8s cubic-bezier(0.625, 0.375, 0.375, 0.625) infinite;
}

body.embed-page .audio-text.clickable:hover {
  transform: none;
}

@media screen and (min-width: 961px) {
  body .main__container {
    position: relative;
    z-index: 1;
  }

  #background {
    z-index: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }
}

@media screen and (max-width: 960px) {
  #background {
    display: none;
  }
}

body.light-mode {
  --scrollbar-thumb: #808080;
  --scrollbar-track: #ffffff;
  --navbar: #ffffff;
  --navbar-logo-background-color: #ffffff;
  --navbar-logo-background-image: linear-gradient(to bottom, #000000 0%, #ffffff 100%);
  --navbar-links: #000000;
  --navbar-links-hover: #808080;
  --navbar-menu: #808080;
  --navbar-menu-active: #ffffff;
  --navbar-toggle-bar: #000000;
  --h1-background-color: #ffffff;
  --h1-background-image: linear-gradient(to bottom, #000000 0%, #ffffff 100%);
  --h2-color: #000000;
  --h3-color: #808080;
  --p-color: #000000;
  --main-btn-background-image: linear-gradient(to bottom, #000000 0%, #ffffff 100%);
  --main-btn-color: #000000;
  --main-btn-after: #000000;
  --main-btn-hover: #ffffff;
  --html-body: #ffffff;
  --a: #808080;
  --audio-webkit-media-controls-panel: #ffffff;
  --media-item: #808080;
  --audio-item: #808080;
  --audio-text: #000000;
  --image-item: #808080;
  --image-text: #000000;
  --video-item: #808080;
  --video-text: #000000;
  --mode-toggle: #000000;
  --mode-toggle-hover: #808080;
  --background: #ffffff;
}

body.light-mode audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-play-button:hover,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-mute-button:hover,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-mute-button:hover,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-volume-slider:hover {
  filter: grayscale(100%) invert(0%) contrast(1000%);
}

#mode-toggle {
  color: var(--mode-toggle);
  font-size: 1.2rem;
  margin: 0 auto;
  order: 1;
  background: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  max-width: 12ch;
  white-space: nowrap;
  transition: all 0.3s ease;
  transform: translateY(0.025em); /* for segoe ui */
}

#mode-toggle:hover {
  color: var(--mode-toggle-hover);
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  #navbar__logo {
    order: 0;
  }

  #mode-toggle {
    transform: translateY(0.15em);
  }
}

@media screen and (max-width: 768px) {
  #mode-toggle {
    font-size: 1.08rem;
  }
}

@media screen and (max-width: 480px) {
  #mode-toggle {
    font-size: 0.96rem;
    transform: translateY(0.175em);
  }
}
